<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content="IE=edge">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <meta property="og:title" content="I Vote For">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://voteforindia-fsftn.rhcloud.com/">
        <meta property="og:image" content="http://4.bp.blogspot.com/-_MGnJIOGxys/T74uA0egJOI/AAAAAAAAA9c/OQSF5Q4NsfM/s1600/Guide4BankExams_PovertyEradication.jpg">
        <title>Vote For India</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery/2.1.0/jquery.min.js"></script>

        {% block script %}{% endblock %}
    </head>
    <body style="padding-top: 70px;">

        <div class="github">
            <a href="https://github.com/PuduvaiGLUG/vote-for-india"><img style="position: absolute; top: 50px; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
        </div>

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Vote For India</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/methodology">Rank Methodology</a></li>
                    <!-- <li><a href="/about">About Us</a></li> -->
                </ul>
            </div>
        </div>
        </nav>
        
        <div class="container">
        {% block body %}
        {% endblock %}
        <hr/>
        <footer class="footer">
        Created by <a href="http://puduvaiglug.wordpress.com">PuduvaiGLUG</a> and <a href="https://www.facebook.com/fsftnvillupuram">FSFTN-VPM</a>
        </footer>
        </div>
    </body>
</html>
