<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content="IE=edge">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>Vote For India</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery/2.1.0/jquery.min.js"></script>

        {% block script %}{% endblock %}
    </head>
    <body>

	<a href="https://github.com/PuduvaiGLUG/vote-for-india"> <img alt="Fork VoteForIndia on GitHub" src="https://github-camo.global.ssl.fastly.net/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" style="position: absolute; top: 0; right: 0; border: 0;"></img></a>

   <div class="container">
        {% block body %}
        {% endblock %}
        <hr/>
        <footer class="footer">
            Created by PuduvaiGLUG and FSFTN-VPM
        </footer>
        </div>
    </body>
</html>
