{% extends 'base.html' %}

{% block script %}
<script type="text/javascript">
    var sum = 100;

    function display(sector){
	sectorName = sector
        sector = $('#' + sector).val()
        $('#' + sectorName + '_val').val(sector);

	sum = Number($('#agriculture_val').val()) + Number($('#industry_val').val()) +  Number($('#technology_val').val()) +  Number($('#security_val').val()) +  Number($('#antiCorruption_val').val()) + Number($('#minority_val').val()) +  Number($('#infrastructure_val').val()) +  Number($('#publicSector_val').val()) + Number($('#socialSector_val').val()) + Number($('#environment_val').val())
            
        if (sum === 100)	{
            $('#total').text(sum).css('color', 'green');
	}   
	else {
            $('#total').text(sum).css('color', 'red');
	}
    };

    function sendData(){
        payload = {
            'agriculture': Number($('#agriculture_val').val()),
            'industry': Number($('#industry_val').val()),
            'technology': Number($('#technology_val').val()),
            'security': Number($('#security_val').val()),
            'antiCorruption': Number($('#antiCorruption_val').val()),
            'minorities': Number($('#minority_val').val()),
            'infrastructure': Number($('#infrastructure_val').val()),
            'publicSector': Number($('#publicSector_val').val()),
            'socialSector': Number($('#socialSector_val').val()),
            'environment': Number($('#environment_val').val())
        }

        // console.log(JSON.stringify(payload));

        if (sum === 100) {

            onSuccess = function (data, textStatus, jqXHR) {
                if (jqXHR.status === 200){
                    result = JSON.stringify(data);
                    	$('#results').empty()
			$.each(data, function(key, value){
                            $('#results').append("<li><h3>" + key + "- " + value + "% </h3></li>");
                    })
                }
            };

            $.ajax({
                    type: 'POST',
                    url: '/respond',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(payload),
                    success: onSuccess
                    });
        }
        else {
            alert("Total is not 100");
        }
    }
</script>
{% endblock %}

{% block body %}
<h1>Vote For India</h1>
<p>Matches your ideology with Political parties</p>
<hr/>

<div>
    <ul id="results">
    </ul>
</div>

<div>
    <h3>You have Rs.100 - how would you divide it among the different sectors below</h3>
    <p>You have allocated Rs.<span id="total">100</span></p>
</div>

<div class="row">
    <div class="col-md-2">Agriculture:</div>
    <div class="col-md-4"><input autocomplete="off" type="range" min="1" max="20" value="10" id="agriculture" oninput="display(id);"></div>
    <div class="col-md-4"><output id="agriculture_val" for="agriculture">10</output></div>
</div>

<div class="row">
    <div class="col-md-2">Industry:</div>
    <div class="col-md-4"><input autocomplete="off" type="range" min="1" max="20" value="10" id="industry" oninput="display(id);"></div>
    <div class="col-md-4"><output id="industry_val" for="industry">10</output></div>
</div>

<div class="row">
    <div class="col-md-2">Technology:</div>
    <div class="col-md-4"><input autocomplete="off" type="range" min="1" max="20" value="10" id="technology" oninput="display(id);"></div>
    <div class="col-md-4"><output id="technology_val" for="technology">10</output></div>
</div>

<div class="row">
    <div class="col-md-2">Security:</div>
    <div class="col-md-4"><input autocomplete="off" type="range" min="1" max="20" value="10" id="security" oninput="display(id);"></div>
    <div class="col-md-4"><output id="security_val" for="security">10</output></div>
</div>

<div class="row">
    <div class="col-md-2">Anti-corruption:</div>
    <div class="col-md-4"><input autocomplete="off" type="range" min="1" max="20" value="10" id="antiCorruption" oninput="display(id);"></div>
    <div class="col-md-4"><output id="antiCorruption_val" for="antiCorruption">10</output></div>
</div>

<div class="row">
    <div class="col-md-2">Minorities:</div>
    <div class="col-md-4"><input autocomplete="off" type="range" min="1" max="20" value="10" id="minority" oninput="display(id);"></div>
    <div class="col-md-4"><output id="minority_val" for="minority">10</output></div>
</div>

<div class="row">
    <div class="col-md-2">Infrastructure:</div>
    <div class="col-md-4"><input autocomplete="off" type="range" min="1" max="20" value="10" id="infrastructure" oninput="display(id);"></div>
    <div class="col-md-4"><output id="infrastructure_val" for="infrastructure">10</output></div>
</div>

<div class="row">
    <div class="col-md-2">Public Sector:</div>
    <div class="col-md-4"><input autocomplete="off" type="range" min="1" max="20" value="10" id="publicSector" oninput="display(id);"></div>
    <div class="col-md-4"><output id="publicSector_val" for="publicSector">10</output></div>
</div>

<div class="row">
    <div class="col-md-2">Social Sector:</div>
    <div class="col-md-4"><input autocomplete="off" type="range" min="1" max="20" value="10" id="socialSector" oninput="display(id);"></div>
    <div class="col-md-4"><output id="socialSector_val" for="socialSector">10</output></div>
</div>

<div class="row">
    <div class="col-md-2">Environment:</div>
    <div class="col-md-4"><input autocomplete="off" type="range" min="1" max="20" value="10" id="environment" oninput="display(id);"></div>
    <div class="col-md-4"><output id="environment_val" for="environment">10</output></div>
</div>

<br/>
<input type='button' value='Find My Party' class='btn btn-success' onclick="sendData();"/>
{% endblock %}
