{% extends 'base.html' %}

{% block script %}

<script type="text/javascript" src = "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"> </script>
<script type="text/javascript">
    var sum = 100;
  

$(function () {
    $("#agriculture").tooltip();

    $('#agriculture').on('input change', function () {
       if ($(this).val()>10)
       {
        $(this).tooltip('show')
        .attr('data-original-title', '+1 Increase support prices, write-off farm loans')
            .tooltip('fixTitle')
            .tooltip('show');
       }
        
	else if ($(this).val()==10)
        {
             $(this).tooltip('show')
        .attr('data-original-title', 'Move slider to allocate')
            .tooltip('fixTitle')
            .tooltip('show');
        
        }

	else
        {
             $(this).tooltip('show')
        .attr('data-original-title', '+1 Reduce farm subsidies, more urbanization')
            .tooltip('fixTitle')
            .tooltip('show');
        
        }
        
       
       });
});

$(function () {
    $("#industry").tooltip();

    $('#industry').on('input change', function () {
       if ($(this).val()>10)
       {
        $(this).tooltip('show')
        .attr('data-original-title', '+1 More SEZ, tax sops')
            .tooltip('fixTitle')
            .tooltip('show');
       }
        
	else if ($(this).val()==10)
        {
             $(this).tooltip('show')
        .attr('data-original-title', 'Move slider to allocate')
            .tooltip('fixTitle')
            .tooltip('show');
        
        }

	else
        {
             $(this).tooltip('show')
        .attr('data-original-title', '+1 Tighter labour laws, stricter compliances')
            .tooltip('fixTitle')
            .tooltip('show');
        
        }
        
       
       });
});

$(function () {
    $("#technology").tooltip();

    $('#technology').on('input change', function () {
       if ($(this).val()>10)
       {
        $(this).tooltip('show')
        .attr('data-original-title', '+1 Incentives for IT, increased space research')
            .tooltip('fixTitle')
            .tooltip('show');
       }
        
	else if ($(this).val()==10)
        {
             $(this).tooltip('show')
        .attr('data-original-title', 'Move slider to allocate')
            .tooltip('fixTitle')
            .tooltip('show');
        
        }

	else
        {
             $(this).tooltip('show')
        .attr('data-original-title', '+1 Discontinue tax cuts in service sector')
            .tooltip('fixTitle')
            .tooltip('show');
        
        }
        
       
       });
});

$(function () {
    $("#security").tooltip();

    $('#security').on('input change', function () {
       if ($(this).val()>10)
       {
        $(this).tooltip('show')
        .attr('data-original-title', '+1 Brutal suppression of terrorists and Maoists')
            .tooltip('fixTitle')
            .tooltip('show');
       }
        
	else if ($(this).val()==10)
        {
             $(this).tooltip('show')
        .attr('data-original-title', 'Move slider to allocate')
            .tooltip('fixTitle')
            .tooltip('show');
        
        }

	else
        {
             $(this).tooltip('show')
        .attr('data-original-title', '+1 Promote dialogue, more human rights')
            .tooltip('fixTitle')
            .tooltip('show');
        
        }
        
       
       });
});


$(function () {
    $("#antiCorruption").tooltip();

    $('#antiCorruption').on('input change', function () {
       if ($(this).val()>10)
       {
        $(this).tooltip('show')
        .attr('data-original-title', '+1 Powerful Lokpal, more judicial officers')
            .tooltip('fixTitle')
            .tooltip('show');
       }
        
	else if ($(this).val()==10)
        {
             $(this).tooltip('show')
        .attr('data-original-title', 'Move slider to allocate')
            .tooltip('fixTitle')
            .tooltip('show');
        
        }

	else
        {
             $(this).tooltip('show')
        .attr('data-original-title', '+1 Status Quo!')
            .tooltip('fixTitle')
            .tooltip('show');
        
        }
        
       
       });
});

$(function () {
    $("#minority").tooltip();

    $('#minority').on('input change', function () {
       if ($(this).val()>10)
       {
        $(this).tooltip('show')
        .attr('data-original-title', '+1 More doles for women, Dalits and minorities')
            .tooltip('fixTitle')
            .tooltip('show');
       }
        
	else if ($(this).val()==10)
        {
             $(this).tooltip('show')
        .attr('data-original-title', 'Move slider to allocate')
            .tooltip('fixTitle')
            .tooltip('show');
        
        }

	else
        {
             $(this).tooltip('show')
        .attr('data-original-title', '+1 Common civil code, lesser reservation')
            .tooltip('fixTitle')
            .tooltip('show');
        
        }
        
       
       });
});


$(function () {
    $("#infrastructure").tooltip();

    $('#infrastructure').on('input change', function () {
       if ($(this).val()>10)
       {
        $(this).tooltip('show')
        .attr('data-original-title', '+1 More PPP projects, Concessions for pvt. sector')
            .tooltip('fixTitle')
            .tooltip('show');
       }
        
	else if ($(this).val()==10)
        {
             $(this).tooltip('show')
        .attr('data-original-title', 'Move slider to allocate')
            .tooltip('fixTitle')
            .tooltip('show');
        
        }

	else
        {
             $(this).tooltip('show')
        .attr('data-original-title', '+1 Toll-free roads')
            .tooltip('fixTitle')
            .tooltip('show');
        
        }
        
       
       });
});

$(function () {
    $("#publicSector").tooltip();

    $('#publicSector').on('input change', function () {
       if ($(this).val()>10)
       {
        $(this).tooltip('show')
        .attr('data-original-title', '+1 More incentives for govt. employees')
            .tooltip('fixTitle')
            .tooltip('show');
       }
        
	else if ($(this).val()==10)
        {
             $(this).tooltip('show')
        .attr('data-original-title', 'Move slider to allocate')
            .tooltip('fixTitle')
            .tooltip('show');
        
        }

	else
        {
             $(this).tooltip('show')
        .attr('data-original-title', '+1 PSU disinvestment, lesser bureaucracy')
            .tooltip('fixTitle')
            .tooltip('show');
        
        }
        
       
       });
});


$(function () {
    $("#socialSector").tooltip();

    $('#socialSector').on('input change', function () {
       if ($(this).val()>10)
       {
        $(this).tooltip('show')
        .attr('data-original-title', '+1 Increased spending in health and education')
            .tooltip('fixTitle')
            .tooltip('show');
       }
        
	else if ($(this).val()==10)
        {
             $(this).tooltip('show')
        .attr('data-original-title', 'Move slider to allocate')
            .tooltip('fixTitle')
            .tooltip('show');
        
        }

	else
        {
             $(this).tooltip('show')
        .attr('data-original-title', '+1 More pvt. participation in health/education')
            .tooltip('fixTitle')
            .tooltip('show');
        
        }
        
       
       });
});

$(function () {
    $("#environment").tooltip();

    $('#environment').on('input change', function () {
       if ($(this).val()>10)
       {
        $(this).tooltip('show')
        .attr('data-original-title', '+1 Tighter norms, subsidized public transport')
            .tooltip('fixTitle')
            .tooltip('show');
       }
        
	else if ($(this).val()==10)
        {
             $(this).tooltip('show')
        .attr('data-original-title', 'Move slider to allocate')
            .tooltip('fixTitle')
            .tooltip('show');
        
        }

	else
        {
             $(this).tooltip('show')
        .attr('data-original-title', '+1 Cheaper fuel, Lower emission norms')
            .tooltip('fixTitle')
            .tooltip('show');
        
        }
        
       
       });
});
  function display(sector){



	sectorName = sector
        sector = $('#' + sector).val()
        $('#' + sectorName + '_val').val(sector);

	sum = Number($('#agriculture_val').val()) + Number($('#industry_val').val()) +  Number($('#technology_val').val()) +  Number($('#security_val').val()) +  Number($('#antiCorruption_val').val()) + Number($('#minority_val').val()) +  Number($('#infrastructure_val').val()) +  Number($('#publicSector_val').val()) + Number($('#socialSector_val').val()) + Number($('#environment_val').val())
            
        if (sum === 100)	{
            $('#total').text(sum).css('background-color', 'green');
	}   
	else {
            $('#total').text(sum).css('background-color', 'red');
	}
    };

    function sendData(){
        payload = {
            'agriculture': Number($('#agriculture_val').val()),
            'industry': Number($('#industry_val').val()),
            'technology': Number($('#technology_val').val()),
            'security': Number($('#security_val').val()),
            'antiCorruption': Number($('#antiCorruption_val').val()),
            'minorities': Number($('#minority_val').val()),
            'infrastructure': Number($('#infrastructure_val').val()),
            'publicSector': Number($('#publicSector_val').val()),
            'socialSector': Number($('#socialSector_val').val()),
            'environment': Number($('#environment_val').val())
        }

        // console.log(JSON.stringify(payload));
        if (sum === 100) {

            onSuccess = function (data, textStatus, jqXHR) {
                if (jqXHR.status === 200){
                    $('#results').empty()
                    $('#desc hr').remove()

                    $('#results').append("<p><u>The percentage in the below results are arranged in the order that matches with your ideology</u></p>");
                    var sortable = [];
                    for (var party in data)
                            sortable.push([party, data[party]])
                            sortable.sort(function(a, b) {return a[1] - b[1]})
                            var colorr = ["#008000", "#00c957", "#ff6633", "#cc0000"];

                    var i = 0;
                    $.each(sortable.reverse(), function(key, value){
                            $('#results').append("<li><h3>" +  value[0] + ": <span class='badge' style='background-color: "+colorr[i]+" ; font-size: 25px;'>"+ value[1] + "% </span></h3></li>");
                            i = i+1;
                    })
                    
                    $('#results').append("<h3><a href='/methodology' target='_blank'>How do we Rank?</a></h3>");
                    $('#desc').prepend("<hr/>");
                }
            };

            $.ajax({
                    type: 'POST',
                    url: '/respond',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(payload),
                    success: onSuccess
                    });
        }
        else {
            alert("Total is not 100");
        }
    }
</script>
{% endblock %}

{% block body %}
<div class="page-header">
    <h1>Vote For India <span class="glyphicon glyphicon-hand-up"></span>
        <small>Match your ideology with Political parties</small></h1>
</div>

<div>
    <ul id="results" style="list-style: none;">
    </ul>
</div>

<div id="desc">
    <h3>You have Rs.100 - How would you divide it among the different sectors below?</h3>
    <h3>You have allocated Rs.<span id="total" class="badge" style="font-size: 20px;">100</span></h3>
</div>

<div id="insctruction">
	<h4><span id = "instr" style="color:red;">Hint: You can move the slider to the left or right to decrease or increase allocation</span> </h4>
	
</div>
<hr/>
<div class="row">
    <div class="col-md-2">Agriculture:</div>
<div class="col-md-4">
    <input autocomplete="off" type="range" min="1" max="20" value="10" id="agriculture" data-toggle="tooltip" data-placement="bottom"  oninput="display(id);">
</div>    
<div class="col-md-4"><output id="agriculture_val" for="agriculture">10</output></div>
</div>

<div class="row">
    <div class="col-md-2">Industry:</div>
    <div class="col-md-4"><input autocomplete="off" type="range" min="1" max="20" value="10" id="industry" data-toggle="tooltip" data-placement="bottom" oninput="display(id);"></div>
    <div class="col-md-4"><output id="industry_val" for="industry">10</output></div>
</div>

<div class="row">
    <div class="col-md-2">Technology:</div>
    <div class="col-md-4"><input autocomplete="off" type="range" min="1" max="20" value="10" id="technology" data-toggle="tooltip" data-placement="bottom" oninput="display(id);"></div>
    <div class="col-md-4"><output id="technology_val" for="technology">10</output></div>
</div>

<div class="row">
    <div class="col-md-2">Security:</div>
    <div class="col-md-4"><input autocomplete="off" type="range" min="1" max="20" value="10" id="security" data-toggle="tooltip" data-placement="bottom" oninput="display(id);"></div>
    <div class="col-md-4"><output id="security_val" for="security">10</output></div>
</div>

<div class="row">
    <div class="col-md-2">Anti-corruption:</div>
    <div class="col-md-4"><input autocomplete="off" type="range" min="1" max="20" value="10" id="antiCorruption" data-toggle="tooltip" data-placement="bottom" oninput="display(id);"></div>
    <div class="col-md-4"><output id="antiCorruption_val" for="antiCorruption">10</output></div>
</div>

<div class="row">
    <div class="col-md-2">Minorities:</div>
    <div class="col-md-4"><input autocomplete="off" type="range" min="1" max="20" value="10" id="minority" data-toggle="tooltip" data-placement="bottom" oninput="display(id);"></div>
    <div class="col-md-4"><output id="minority_val" for="minority">10</output></div>
</div>

<div class="row">
    <div class="col-md-2">Infrastructure:</div>
    <div class="col-md-4"><input autocomplete="off" type="range" min="1" max="20" value="10" id="infrastructure" data-toggle="tooltip" data-placement="bottom" oninput="display(id);"></div>
    <div class="col-md-4"><output id="infrastructure_val" for="infrastructure">10</output></div>
</div>

<div class="row">
    <div class="col-md-2">Public Sector:</div>
    <div class="col-md-4"><input autocomplete="off" type="range" min="1" max="20" value="10" id="publicSector" data-toggle="tooltip" data-placement="bottom" oninput="display(id);"></div>
    <div class="col-md-4"><output id="publicSector_val" for="publicSector">10</output></div>
</div>

<div class="row">
    <div class="col-md-2">Social Sector:</div>
    <div class="col-md-4"><input autocomplete="off" type="range" min="1" max="20" value="10" id="socialSector" data-toggle="tooltip" data-placement="bottom" oninput="display(id);"></div>
    <div class="col-md-4"><output id="socialSector_val" for="socialSector">10</output></div>
</div>

<div class="row">
    <div class="col-md-2">Environment:</div>
    <div class="col-md-4"><input autocomplete="off" type="range" min="1" max="20" value="10" id="environment" data-toggle="tooltip" data-placement="bottom" oninput="display(id);"></div>
    <div class="col-md-4"><output id="environment_val" for="environment">10</output></div>
</div>

<br/>
<input type='button' value='Find My Party' class='btn btn-success' onclick="sendData();"/>
{% endblock %}
